@font-face {
    font-family: 'android';
    src: url('./fontes/idroid.otf') format('opentype');
  }
    body {
      padding: 0px;
      margin: 0px;
    }
     header{
       background-image: linear-gradient(to top, #1a5c38, #3cd781);
       height: 12em;
       margin-top: -25px;
     }
     header > h1{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #fff;
        padding-top: 1em;
     }
     header > p{
         text-align: center;
         font-family: Arial, Helvetica, sans-serif;
         font-weight: lighter;
         color: #fff;
     }
     nav > a{
        margin-left: 1.2em;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: white;
     }
     nav > a:hover{
        text-decoration: underline;
     }
     main {
         margin-top: -18px;
         background-color: #84e1ad;
         margin-bottom: -18px;
     }
     section {
       padding: 1.4em;
       background-color: white;
       width: 50em;
       border-radius: 5px;
       margin-left: auto;
       margin-right: auto;
       box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.623);
     }
     section > p{
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        text-indent: 0.8em;
     }
     .links-pag{
         font-family: Arial, Helvetica, sans-serif;
         text-decoration: none;
         color: #3f7457;
         font-weight: bold;
     }
     .links-pag:hover{
         background-color: #c0b6b6;
         transition: 0.8s;
         border-radius: 5px;
         text-decoration: underline;
     } 
    #segundo{
      font-family: 'android';
      color: #20603d;
      font-weight: bold;
      font-size: 2em;
    }
    .especial{
        font-family: 'android';
        color: #20603d;
        background-image: linear-gradient(to right, #c5ebd6, #f9fdfb);
        padding: 3px 5px;
    }
   div#video{
       margin-left: -23px;
       margin-right: -22px;
       padding-top: 20px;
       padding-bottom: 20px;
       background-color: #1a5c38;
   }
   iframe{
     margin-left: 2.8em;
     margin-right: auto;
   }
    article{
      background-color: #c5ebd6;
      border-radius: 9px;
      padding: 0px 8px;
      padding-bottom: 4px;
    }
    article > h3{
      background-color: #2fa866;
      color: #fff;
      font-weight: bold;
      padding: 4px 17px;
      margin-left: -8px;
      margin-right: -8px;
      border-radius: 9px 9px 0px 0px;
    }
    article > p {
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        text-indent: 0.8em;
    }
    #lista{
       position: relative;
    }
    ul#lista1{
       list-style: none;
       width: 12em;
       padding-left: 1em;
       display: inline-block;
    }
    ul#lista2{
      list-style: none;
       width: 9em;
       margin-top: em;
       display: inline-block;
       margin-left: 17em;
    }

    footer{
       background-color: #1a5c38;
       margin-left: 0px;
       margin-right: 0px;
    }

    footer > p{
       text-align: center;
       font-family: Arial, Helvetica, sans-serif;
       color: white;
       font-weight: bold;
       padding: 5px 0px;
    }

    em{
      font-weight: lighter;
    }